# Laboratory excercise 1 and 2
The notebook contains excercise connected to the auditory excerices 1 and 2. For any questions feel free to contact assistans: eda.jovicic@fer.hr and filip.tomas@fer.hr

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

1. Load the dataset *student_score.csv*. When loading the dataset watch out for the index column.

In [2]:
data = pd.read_csv("students_score.csv")

2. Print the size of the dataset. List the number of examples and the number of features.

In [3]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

num_examples, num_features = data.shape
print(f'Number of examples = {num_examples}\nNumber of features = {num_features}')

Number of examples = 30641
Number of features = 16

3. Show the first 5 examples of the dataset.

In [4]:
print(data.head(5))

   Unnamed: 0  StudentId  Gender EthnicGroup          ParentEduc  \
0           0     520645  female         NaN   bachelor's degree
1           1     303683  female     group C        some college
2           2     457351  female     group B     master's degree
3           3     812988    male     group A  associate's degree
4           4     594678    male     group C        some college

      LunchType TestPrep ParentMaritalStatus PracticeSport IsFirstChild  \
0      standard     none             married     regularly          yes
1      standard      NaN             married     sometimes          yes
2      standard     none              single     sometimes          yes
3  free/reduced     none             married         never           no
4      standard     none             married     sometimes          yes

   NrSiblings TransportMeans WklyStudyHours  MathScore  ReadingScore  \
0         3.0     school_bus            < 5         71            71
1         0.0            NaN         5 - 10         69            90
2         4.0     school_bus            < 5         87            93
3         1.0            NaN         5 - 10         45            56
4         0.0     school_bus         5 - 10         76            78

   WritingScore
0            74
1            88
2            91
3            42
4            75

4. Using the third example from the dataset print for every feature the type of data (int, float, string or bool).

In [5]:
for i in range(0, len(data.columns)):
    print(f'Feature {data.columns.values[i]} -> {data.iloc[2].iloc[i]} is {type(data.iloc[2].iloc[i])}')

Feature Unnamed: 0 -> 2 is <class 'numpy.int64'>
Feature StudentId -> 457351 is <class 'numpy.int64'>
Feature Gender -> female is <class 'str'>
Feature EthnicGroup -> group B is <class 'str'>
Feature ParentEduc -> master's degree is <class 'str'>
Feature LunchType -> standard is <class 'str'>
Feature TestPrep -> none is <class 'str'>
Feature ParentMaritalStatus -> single is <class 'str'>
Feature PracticeSport -> sometimes is <class 'str'>
Feature IsFirstChild -> yes is <class 'str'>
Feature NrSiblings -> 4.0 is <class 'numpy.float64'>
Feature TransportMeans -> school_bus is <class 'str'>
Feature WklyStudyHours -> < 5 is <class 'str'>
Feature MathScore -> 87 is <class 'numpy.int64'>
Feature ReadingScore -> 93 is <class 'numpy.int64'>
Feature WritingScore -> 91 is <class 'numpy.int64'>

5. For numerical features print the value of mean, standard deviation and median.

In [6]:
for i in range(0, len(data.columns)):
    if type(data.iloc[2].iloc[i]) in [np.int64, np.float64]:
        print(f'Feature {data.columns.values[i]}:\n\tMean -> {np.mean(data[data.columns[i]])}\n\tStandard deviation -> {np.std(data[data.columns[i]])}\n\tMedian -> {np.median(data[data.columns[i]])}')

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe
data.describe(include=[np.number])

Feature Unnamed: 0:
	Mean -> 499.5566071603407
	Standard deviation -> 288.74318261024985
	Median -> 500.0
Feature StudentId:
	Mean -> 549614.8522567801
	Standard deviation -> 257909.04251609294
	Median -> 550904.0
Feature NrSiblings:
	Mean -> 2.1473046888437857
	Standard deviation -> 1.4667205238196086
	Median -> nan
Feature MathScore:
	Mean -> 66.5584021409223
	Standard deviation -> 15.361364942374667
	Median -> 67.0
Feature ReadingScore:
	Mean -> 69.37753337032082
	Standard deviation -> 14.758710834961404
	Median -> 70.0
Feature WritingScore:
	Mean -> 68.41862210763357
	Standard deviation -> 15.443272804689242
	Median -> 69.0

,Unnamed: 0,StudentId,NrSiblings,MathScore,ReadingScore,WritingScore
count,30641.000000,30641.000000,29069.000000,30641.000000,30641.000000,30641.000000
mean,499.556607,549614.852257,2.147305,66.558402,69.377533,68.418622
std,288.747894,257913.251180,1.466746,15.361616,14.758952,15.443525
min,0.000000,100024.000000,0.000000,0.000000,10.000000,4.000000
25%,249.000000,328156.000000,1.000000,56.000000,59.000000,58.000000
50%,500.000000,550904.000000,2.000000,67.000000,70.000000,69.000000
75%,750.000000,771876.000000,3.000000,78.000000,80.000000,79.000000
max,999.000000,999992.000000,26.000000,100.000000,100.000000,100.000000

6. Check if there are any monotonous attributes. If you find a monotonous attribute, remove it from the dataset.

In [7]:
data.nunique()

Unnamed: 0              1000
StudentId              30641
Gender                     2
EthnicGroup                5
ParentEduc                 6
LunchType                  2
TestPrep                   2
ParentMaritalStatus        4
PracticeSport              3
IsFirstChild              12
NrSiblings                11
TransportMeans             2
WklyStudyHours             3
MathScore                 95
ReadingScore              90
WritingScore              93
dtype: int64

7. Check the data for missing values. Print the number of missing values for each feature.

In [8]:
data.isna().sum()

Unnamed: 0                0
StudentId                 0
Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            903
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

8. Let's deal with the missing values. 

a) For the features EthnicGroup, ParentMaritalStatus and WklyStudyHours replace NaN values with the most common value.

b) For the feature ParentEduc replace NaN value with a string *no formal education*.

c) For the feature TestPrep replace NaN value with a string *none*.

d) For the features PracticeSport and IsFirstChild remove all the examples with NaN values. 

e) For the feature NrSiblings replace the NaN value with the median value.

f) Finally, for the feature TransportMeans replace the NaN value with a string *walking*.

In [9]:
data_tmp = data.copy()

### a)
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mode.html
data_tmp.loc[data_tmp.EthnicGroup.isna(),'EthnicGroup'] = data_tmp.loc[:,'EthnicGroup'].mode().iloc[0]
data_tmp.loc[data_tmp.ParentMaritalStatus.isna(),'ParentMaritalStatus'] = data_tmp.loc[:,'ParentMaritalStatus'].mode().iloc[0]
data_tmp.loc[data_tmp.WklyStudyHours.isna(),'WklyStudyHours'] = data_tmp.loc[:,'WklyStudyHours'].mode().iloc[0]

### b)
data_tmp.loc[data_tmp.ParentEduc.isna(),'ParentEduc'] = 'no formal education'

### c)
data_tmp.loc[data_tmp.TestPrep.isna(),'TestPrep'] = 'none'

### d)
data_tmp = data_tmp.loc[data_tmp.PracticeSport.notnull(), :]
data_tmp = data_tmp.loc[data_tmp.IsFirstChild.notnull(), :]

### e)
data_tmp.loc[data_tmp.NrSiblings.isna(),'NrSiblings'] = data_tmp.loc[:,'NrSiblings'].median()

### f)
data_tmp.loc[data_tmp.TransportMeans.isna(),'TransportMeans'] = 'walking'

data_tmp.isna().sum()

Unnamed: 0             0
StudentId              0
Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
NrSiblings             0
TransportMeans         0
WklyStudyHours         0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

9. Are there inconsistencies in the IsFirstChild column? Replace the inconsistent entries so they match the rest of the values.

In [10]:
#data_tmp.drop(['Title'], axis=1, inplace=True)

data_tmp['Title'] = data_tmp.IsFirstChild.str.extract('([A-Za-z]+)', expand=False)
pd.crosstab(data_tmp['Title'], data_tmp['NrSiblings'])

# create title Rare
data_tmp['Title'] = data_tmp['Title'].replace(['es', 'ye', 'ys'], 'Rare')

# switch inconsistent titles
data_tmp['Title'] = data_tmp['Title'].replace('Yes', 'yes')
data_tmp['Title'] = data_tmp['Title'].replace('si', 'yes')
data_tmp['Title'] = data_tmp['Title'].replace('yeah', 'yes')

data_tmp['Title'] = data_tmp['Title'].replace('nein', 'no')
data_tmp['Title'] = data_tmp['Title'].replace('noo', 'no')
data_tmp['Title'] = data_tmp['Title'].replace('nope', 'no')

pd.crosstab(data_tmp['Title'], data_tmp['NrSiblings'])

# There are examples that has 0 siblings and are not first child
data_tmp = data_tmp.drop(data_tmp[(data_tmp.Title == 'no') & (data_tmp.NrSiblings == 0)].index)

pd.crosstab(data_tmp['Title'], data_tmp['NrSiblings'])

NrSiblings  0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   10.0  12.0  26.0
Title
Rare           0     3     5     1     1     0     0     1     0     0     0
no             0  3085  3193  2353  1103   485    97   102     0     0     1
yes         2856  4730  4756  3499  1690   780   192   178     1     1     0

10. The final step to preparing the dataset for classification is transforming the non-numeric variables to numeric variables. 
For features Gender and LunchType use OneHot Encoder, and for EthnicGroup, ParentEduc, TestPrep, ParentMaritalStatus, PracticeSport, IsFirstChild, TransportMeans and WklyStudyHours use Label Encoder.

In [11]:
### OneHotEncoder
encoder = OneHotEncoder(handle_unknown="ignore")

# Gender
encoder.fit(data[['Gender']])
# we transform the data
data_tmp = encoder.transform(data[['Gender']])
data_tmp = pd.DataFrame(data_tmp.toarray(), columns=encoder.get_feature_names_out(['Gender']))

# LunchType
encoder.fit(data[['LunchType']])
# we transform the data
data_tmp = encoder.transform(data[['LunchType']])
data_tmp = pd.DataFrame(data_tmp.toarray(), columns=encoder.get_feature_names_out(['LunchType']))

### LabelEncoder
le = LabelEncoder()
le.fit(data.loc[:,'EthnicGroup'])

data_tmp.loc[:,'EthnicGroup'] = le.transform(data_tmp.loc[:,'EthnicGroup'])

print(data_tmp.head(5))

KeyError: 'EthnicGroup'