# Laboratory excercise 1 and 2
The notebook contains excercise connected to the auditory excerices 1 and 2. For any questions feel free to contact assistans: eda.jovicic@fer.hr and filip.tomas@fer.hr

In [819]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

1. Load the dataset *student_score.csv*. When loading the dataset watch out for the index column.

In [820]:
data = pd.read_csv("students_score.csv")

2. Print the size of the dataset. List the number of examples and the number of features.

In [821]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

num_examples, num_features = data.shape
print(f'Number of examples = {num_examples}\nNumber of features = {num_features}')

Number of examples = 30641
Number of features = 16

3. Show the first 5 examples of the dataset.

In [822]:
print(data.head(5))

   Unnamed: 0  StudentId  Gender EthnicGroup          ParentEduc  \
0           0     520645  female         NaN   bachelor's degree
1           1     303683  female     group C        some college
2           2     457351  female     group B     master's degree
3           3     812988    male     group A  associate's degree
4           4     594678    male     group C        some college

      LunchType TestPrep ParentMaritalStatus PracticeSport IsFirstChild  \
0      standard     none             married     regularly          yes
1      standard      NaN             married     sometimes          yes
2      standard     none              single     sometimes          yes
3  free/reduced     none             married         never           no
4      standard     none             married     sometimes          yes

   NrSiblings TransportMeans WklyStudyHours  MathScore  ReadingScore  \
0         3.0     school_bus            < 5         71            71
1         0.0            NaN         5 - 10         69            90
2         4.0     school_bus            < 5         87            93
3         1.0            NaN         5 - 10         45            56
4         0.0     school_bus         5 - 10         76            78

   WritingScore
0            74
1            88
2            91
3            42
4            75

4. Using the third example from the dataset print for every feature the type of data (int, float, string or bool).

In [823]:
for i in range(0, len(data.columns)):
    print(f'Feature {data.columns.values[i]} -> {data.iloc[2].iloc[i]} is {type(data.iloc[2].iloc[i])}')

Feature Unnamed: 0 -> 2 is <class 'numpy.int64'>
Feature StudentId -> 457351 is <class 'numpy.int64'>
Feature Gender -> female is <class 'str'>
Feature EthnicGroup -> group B is <class 'str'>
Feature ParentEduc -> master's degree is <class 'str'>
Feature LunchType -> standard is <class 'str'>
Feature TestPrep -> none is <class 'str'>
Feature ParentMaritalStatus -> single is <class 'str'>
Feature PracticeSport -> sometimes is <class 'str'>
Feature IsFirstChild -> yes is <class 'str'>
Feature NrSiblings -> 4.0 is <class 'numpy.float64'>
Feature TransportMeans -> school_bus is <class 'str'>
Feature WklyStudyHours -> < 5 is <class 'str'>
Feature MathScore -> 87 is <class 'numpy.int64'>
Feature ReadingScore -> 93 is <class 'numpy.int64'>
Feature WritingScore -> 91 is <class 'numpy.int64'>

5. For numerical features print the value of mean, standard deviation and median.

In [824]:
for i in range(0, len(data.columns)):
    if type(data.iloc[2].iloc[i]) in [np.int64, np.float64]:
        print(f'Feature {data.columns.values[i]}:\n\tMean -> {np.mean(data[data.columns[i]])}\n\tStandard deviation -> {np.std(data[data.columns[i]])}\n\tMedian -> {np.median(data[data.columns[i]])}')

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe
data.describe(include=[np.number])

Feature Unnamed: 0:
	Mean -> 499.5566071603407
	Standard deviation -> 288.74318261024985
	Median -> 500.0
Feature StudentId:
	Mean -> 549614.8522567801
	Standard deviation -> 257909.04251609294
	Median -> 550904.0
Feature NrSiblings:
	Mean -> 2.1473046888437857
	Standard deviation -> 1.4667205238196086
	Median -> nan
Feature MathScore:
	Mean -> 66.5584021409223
	Standard deviation -> 15.361364942374667
	Median -> 67.0
Feature ReadingScore:
	Mean -> 69.37753337032082
	Standard deviation -> 14.758710834961404
	Median -> 70.0
Feature WritingScore:
	Mean -> 68.41862210763357
	Standard deviation -> 15.443272804689242
	Median -> 69.0

,Unnamed: 0,StudentId,NrSiblings,MathScore,ReadingScore,WritingScore
count,30641.000000,30641.000000,29069.000000,30641.000000,30641.000000,30641.000000
mean,499.556607,549614.852257,2.147305,66.558402,69.377533,68.418622
std,288.747894,257913.251180,1.466746,15.361616,14.758952,15.443525
min,0.000000,100024.000000,0.000000,0.000000,10.000000,4.000000
25%,249.000000,328156.000000,1.000000,56.000000,59.000000,58.000000
50%,500.000000,550904.000000,2.000000,67.000000,70.000000,69.000000
75%,750.000000,771876.000000,3.000000,78.000000,80.000000,79.000000
max,999.000000,999992.000000,26.000000,100.000000,100.000000,100.000000

6. Check if there are any monotonous attributes. If you find a monotonous attribute, remove it from the dataset.

In [825]:
data.nunique()

Unnamed: 0              1000
StudentId              30641
Gender                     2
EthnicGroup                5
ParentEduc                 6
LunchType                  2
TestPrep                   2
ParentMaritalStatus        4
PracticeSport              3
IsFirstChild              12
NrSiblings                11
TransportMeans             2
WklyStudyHours             3
MathScore                 95
ReadingScore              90
WritingScore              93
dtype: int64

7. Check the data for missing values. Print the number of missing values for each feature.

In [826]:
data.isna().sum()

Unnamed: 0                0
StudentId                 0
Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            903
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

8. Let's deal with the missing values. 

a) For the features EthnicGroup, ParentMaritalStatus and WklyStudyHours replace NaN values with the most common value.

b) For the feature ParentEduc replace NaN value with a string *no formal education*.

c) For the feature TestPrep replace NaN value with a string *none*.

d) For the features PracticeSport and IsFirstChild remove all the examples with NaN values. 

e) For the feature NrSiblings replace the NaN value with the median value.

f) Finally, for the feature TransportMeans replace the NaN value with a string *walking*.

In [827]:
data_tmp = data.copy()

### a)
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mode.html
data_tmp.loc[data_tmp.EthnicGroup.isna(),'EthnicGroup'] = data_tmp.loc[:,'EthnicGroup'].mode().iloc[0]
data_tmp.loc[data_tmp.ParentMaritalStatus.isna(),'ParentMaritalStatus'] = data_tmp.loc[:,'ParentMaritalStatus'].mode().iloc[0]
data_tmp.loc[data_tmp.WklyStudyHours.isna(),'WklyStudyHours'] = data_tmp.loc[:,'WklyStudyHours'].mode().iloc[0]

### b)
data_tmp.loc[data_tmp.ParentEduc.isna(),'ParentEduc'] = 'no formal education'

### c)
data_tmp.loc[data_tmp.TestPrep.isna(),'TestPrep'] = 'none'

### d)
data_tmp = data_tmp.loc[data_tmp.PracticeSport.notnull(), :]
data_tmp = data_tmp.loc[data_tmp.IsFirstChild.notnull(), :]

### e)
data_tmp.loc[data_tmp.NrSiblings.isna(),'NrSiblings'] = data_tmp.loc[:,'NrSiblings'].median()

### f)
data_tmp.loc[data_tmp.TransportMeans.isna(),'TransportMeans'] = 'walking'

data = data_tmp.copy()

data.isna().sum()

Unnamed: 0             0
StudentId              0
Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
NrSiblings             0
TransportMeans         0
WklyStudyHours         0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

9. Are there inconsistencies in the IsFirstChild column? Replace the inconsistent entries so they match the rest of the values.

In [828]:
#data_tmp.drop(['Title'], axis=1, inplace=True)

data['IsFirstChild'] = data.IsFirstChild.str.extract('([A-Za-z]+)', expand=False)

# create title Rare
data['IsFirstChild'] = data['IsFirstChild'].replace(['es', 'ye', 'ys'], 'Rare')
# drop rare value
data = data.drop(data[data.IsFirstChild == 'Rare'].index)

# switch inconsistent titles
data['IsFirstChild'] = data['IsFirstChild'].replace('Yes', 'yes')
data['IsFirstChild'] = data['IsFirstChild'].replace('si', 'yes')
data['IsFirstChild'] = data['IsFirstChild'].replace('yeah', 'yes')

data['IsFirstChild'] = data['IsFirstChild'].replace('nein', 'no')
data['IsFirstChild'] = data['IsFirstChild'].replace('noo', 'no')
data['IsFirstChild'] = data['IsFirstChild'].replace('nope', 'no')

# There are examples that has 0 siblings and are not first child
data = data.drop(data[(data.IsFirstChild == 'no') & (data.NrSiblings == 0)].index)

print(data.head(5))

pd.crosstab(data['IsFirstChild'], data['NrSiblings'])

   Unnamed: 0  StudentId  Gender EthnicGroup          ParentEduc  \
0           0     520645  female     group C   bachelor's degree
1           1     303683  female     group C        some college
2           2     457351  female     group B     master's degree
3           3     812988    male     group A  associate's degree
4           4     594678    male     group C        some college

      LunchType TestPrep ParentMaritalStatus PracticeSport IsFirstChild  \
0      standard     none             married     regularly          yes
1      standard     none             married     sometimes          yes
2      standard     none              single     sometimes          yes
3  free/reduced     none             married         never           no
4      standard     none             married     sometimes          yes

   NrSiblings TransportMeans WklyStudyHours  MathScore  ReadingScore  \
0         3.0     school_bus            < 5         71            71
1         0.0        walking         5 - 10         69            90
2         4.0     school_bus            < 5         87            93
3         1.0        walking         5 - 10         45            56
4         0.0     school_bus         5 - 10         76            78

   WritingScore
0            74
1            88
2            91
3            42
4            75

NrSiblings    0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   10.0  12.0  26.0
IsFirstChild
no               0  3085  3193  2353  1103   485    97   102     0     0     1
yes           2856  4730  4756  3499  1690   780   192   178     1     1     0

10. The final step to preparing the dataset for classification is transforming the non-numeric variables to numeric variables. 
For features Gender and LunchType use OneHot Encoder, and for EthnicGroup, ParentEduc, TestPrep, ParentMaritalStatus, PracticeSport, IsFirstChild, TransportMeans and WklyStudyHours use Label Encoder.

In [829]:
### OneHotEncoder
encoder = OneHotEncoder(handle_unknown="ignore")

# Gender
encoder.fit(data[['Gender']])
# we transform the data
data_tmp = encoder.transform(data[['Gender']])
data_tmp = pd.DataFrame(data_tmp.toarray(), columns=encoder.get_feature_names_out(['Gender']))

data = pd.concat((data, data_tmp), axis=1)

# na values created by one hot encoder are dropped
data = data.loc[data.StudentId.notnull(), :]
data = data.loc[data.Gender_male.notnull(), :]
data = data.loc[data.Gender_female.notnull(), :]

# LunchType
encoder.fit(data[['LunchType']])
# we transform the data
data_tmp = encoder.transform(data[['LunchType']])
data_tmp = pd.DataFrame(data_tmp.toarray(), columns=encoder.get_feature_names_out(['LunchType']))

data = pd.concat((data, data_tmp), axis=1)
data = data.loc[data.StudentId.notnull(), :]
data = data.loc[data.LunchType_standard.notnull(), :]

print(data.head(5))

   Unnamed: 0  StudentId  Gender EthnicGroup          ParentEduc  \
0         0.0   520645.0  female     group C   bachelor's degree
1         1.0   303683.0  female     group C        some college
2         2.0   457351.0  female     group B     master's degree
3         3.0   812988.0    male     group A  associate's degree
4         4.0   594678.0    male     group C        some college

      LunchType TestPrep ParentMaritalStatus PracticeSport IsFirstChild  \
0      standard     none             married     regularly          yes
1      standard     none             married     sometimes          yes
2      standard     none              single     sometimes          yes
3  free/reduced     none             married         never           no
4      standard     none             married     sometimes          yes

   NrSiblings TransportMeans WklyStudyHours  MathScore  ReadingScore  \
0         3.0     school_bus            < 5       71.0          71.0
1         0.0        walking         5 - 10       69.0          90.0
2         4.0     school_bus            < 5       87.0          93.0
3         1.0        walking         5 - 10       45.0          56.0
4         0.0     school_bus         5 - 10       76.0          78.0

   WritingScore  Gender_female  Gender_male  LunchType_free/reduced  \
0          74.0            1.0          0.0                     0.0
1          88.0            1.0          0.0                     0.0
2          91.0            1.0          0.0                     0.0
3          42.0            0.0          1.0                     1.0
4          75.0            0.0          1.0                     0.0

   LunchType_standard
0                 1.0
1                 1.0
2                 1.0
3                 0.0
4                 1.0

In [830]:
### LabelEncoder
le = LabelEncoder()

# EthnicGroup
le.fit(data['EthnicGroup'])
data.loc[:,'EthnicGroup'] = le.transform(data.loc[:,'EthnicGroup'])
le.fit(data['ParentEduc'])
data.loc[:,'ParentEduc'] = le.transform(data.loc[:,'ParentEduc'])
le.fit(data['TestPrep'])
data.loc[:,'TestPrep'] = le.transform(data.loc[:,'TestPrep'])
le.fit(data['ParentMaritalStatus'])
data.loc[:,'ParentMaritalStatus'] = le.transform(data.loc[:,'ParentMaritalStatus'])
le.fit(data['PracticeSport'])
data.loc[:,'PracticeSport'] = le.transform(data.loc[:,'PracticeSport'])
le.fit(data['IsFirstChild'])
data.loc[:,'IsFirstChild'] = le.transform(data.loc[:,'IsFirstChild'])
le.fit(data['TransportMeans'])
data.loc[:,'TransportMeans'] = le.transform(data.loc[:,'TransportMeans'])
le.fit(data['WklyStudyHours'])
data.loc[:,'WklyStudyHours'] = le.transform(data.loc[:,'WklyStudyHours'])
# printar el numero de valores na de cada columna de un dataframe
print(data.isna().sum())
print(data.info())
print(data.head(5))

# saved the data in a new csv file
data.to_csv('students_score_clean.csv', index=False)

Unnamed: 0                0
StudentId                 0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus       0
PracticeSport             0
IsFirstChild              0
NrSiblings                0
TransportMeans            0
WklyStudyHours            0
MathScore                 0
ReadingScore              0
WritingScore              0
Gender_female             0
Gender_male               0
LunchType_free/reduced    0
LunchType_standard        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 26163 entries, 0 to 27594
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              26163 non-null  float64
 1   StudentId               26163 non-null  float64
 2   Gender                  26163 non-null  object
 3   EthnicGroup             26163 non-null  object
 4   ParentEduc              26163 non-null  object
 5   LunchType               26163 non-null  object
 6   TestPrep                26163 non-null  object
 7   ParentMaritalStatus     26163 non-null  object
 8   PracticeSport           26163 non-null  object
 9   IsFirstChild            26163 non-null  object
 10  NrSiblings              26163 non-null  float64
 11  TransportMeans          26163 non-null  object
 12  WklyStudyHours          26163 non-null  object
 13  MathScore               26163 non-null  float64
 14  ReadingScore            26163 non-null  float64
 15  WritingScore            26163 non-null  float64
 16  Gender_female           26163 non-null  float64
 17  Gender_male             26163 non-null  float64
 18  LunchType_free/reduced  26163 non-null  float64
 19  LunchType_standard      26163 non-null  float64
dtypes: float64(10), object(10)
memory usage: 4.2+ MB
None
   Unnamed: 0  StudentId  Gender EthnicGroup ParentEduc     LunchType  \
0         0.0   520645.0  female           2          1      standard
1         1.0   303683.0  female           2          5      standard
2         2.0   457351.0  female           1          3      standard
3         3.0   812988.0    male           0          0  free/reduced
4         4.0   594678.0    male           2          5      standard

  TestPrep ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings  \
0        1                   1             1            1         3.0
1        1                   1             2            1         0.0
2        1                   2             2            1         4.0
3        1                   1             0            0         1.0
4        1                   1             2            1         0.0

  TransportMeans WklyStudyHours  MathScore  ReadingScore  WritingScore  \
0              1              1       71.0          71.0          74.0
1              2              0       69.0          90.0          88.0
2              1              1       87.0          93.0          91.0
3              2              0       45.0          56.0          42.0
4              1              0       76.0          78.0          75.0

   Gender_female  Gender_male  LunchType_free/reduced  LunchType_standard
0            1.0          0.0                     0.0                 1.0
1            1.0          0.0                     0.0                 1.0
2            1.0          0.0                     0.0                 1.0
3            0.0          1.0                     1.0                 0.0
4            0.0          1.0                     0.0                 1.0